*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 3000px;
}

.icon {
  width: 50px;
  margin-top: 15px;
  cursor: pointer;
}
.list {
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  width: 80%;
  z-index: 10;
  background-color: whitesmoke;
}


@media (min-width: 1280px) {
  nav {
      margin-left: 8%; 
      margin-right: 8%;
  }
}

ul {
  display: flex;
  margin-left: 10%;
  margin-right: 8%;
  align-items: center;
}

li {
  margin-right: 30px;
}

.hero-container {
  background: linear-gradient(180deg, #FCFCF7 6.5%, #1F5E7C 100%);
  height: 520px;
  margin-top: 2%;

}

.sub-container {
  display: flex;
  align-items: center;
}

.container {
  margin-top: 3%;
}

.hero-section-heading{
  font-size: 5rem;
  margin-left: 13%;
  font-family: Palanquin;
  font-weight: bolder;
  line-height:75px;
}
@media (max-width: 720px) {
  .hero-section-heading {
      margin-left: 5%;
  }
}

.grocessary {
  color: rgba(31,94,124,255);
  font-weight: bolder;
}

.img-container {
  width: 380px;
  margin-right: 40px;
  bottom: 10px;
}

.hero-img {
  max-width: 400px;
  position: relative;
  bottom: 30;

}

.description {
  font-size:  1.49rem;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 32px;
  margin-left: 14%;
  color: rgba(0, 0, 0, 1);
  margin-top: 25px;
}

.hero-button {
  background-color:black;
  color: white;
  font-family: Palanquin;
  border: 1px;
  font-weight: bold;
  margin-left: 14%;
  margin-top: 4%;
  padding: 15px 51px;
}

.icons-container {
  margin-top: 50px;
}

.features-container {
  display: flex;
  justify-content: center;
}

.icon-1-container {
  display: flex;
  margin-right: 50px;
}

.headphone-icon {
  width: 20px;
  margin-left: 20px;
}

.descrip {
  font-size: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.Descrip {
  font-weight: normal;
  color: gray;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.banner-section {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5%;
  margin-top: 60px;
}

.banner-container {
  background-color:rgba(31, 94, 124, 0.22);
  display: flex;
  max-width: 45%;
}

.apple-img{
  max-width: 100%;
  height: auto;
  padding-top: 45px;
}

.apple-img-container {
  flex: 1;
  text-align: center;
  max-width: 60%;
}

.text-containers {
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  margin-left: 30px;
}

.summer {
  font-family: Open Sans;
}

.sale {
  font-size: 25px;
  font-family: Palanquin;
  color: #1F5E7C;
  font-weight: bolder;
  text-align: center;
  margin-top: 15px;
}

.fresh {
  font-family: Palanquin;
  font-weight: bolder;
  font-size: 35px;
}

.hundred {
  font-family: Palanquin;
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bolder;
}


.button-shop {
  background-color: rgba(255, 255, 255, 1);
  padding: 12px 25px;
  font-family: Palanquin;
  font-weight: bolder;
  font-size: 18px;
  border-color: black;
  border-width: 1px;
}

.banner-left {
  background-color: rgba(253, 248, 208, 1);
  max-width: 20%;
} 

.Fresh {
  font-weight: bolder;
  font-family: Palanquin;
  font-size: 35px;
  line-height: 35px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.yougrat-img {
  max-width: 100%;
}

.yougurt-img-container {
  max-width: 100%;
}

.category {
  justify-content: center;
  display: flex;
  gap: 30px;
  margin-top:3% ;
}

.item-1 {
  background-color: rgba(255, 255, 255, 1);
  max-width: 10%;
  font-family: Palanquin;
  font-weight: 600;
  padding: 15px;
  border-radius: 25px;
}

.meat-img {
  max-width: 50%;
  margin-bottom: 10px;
  margin-left: 20%;
}

.meat {
  text-align: center;
}

.top-category {
  margin-left: 15%;
  margin-top: 8%;
  font-weight: 900;
  font-family: Inter;
  font-size: larger;
}

 .eco-container {
  max-width: 65%;
  margin-left: 18%;
  margin-top: 5%;
 }

.eco-background-img {
  display: flex;
  background: rgb(236, 242, 194);
  border-radius: 15px;
}

.left-div {
  max-width: 80%;
  margin-right: 10%;
}

.fruits-img {
  max-width: 80%;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 20%;
}

 .eco-text {
  width: 60%;
}

.eco-para {
  font-size: 35px;
  font-weight: 700;
  font-family: Palanquin;  
  color: rgba(31, 94, 124, 1);
  margin-top: 10%;
}

.eco-span {
  color: black;
}

.discover {
  font-size: 20px;
  font-family: Open Sans;
  margin-top: 4%;
  line-height: 28px;
  width:100%;
  margin-bottom: 10%;
}

.eco-btn {
  font-weight: bolder;
  background-color:rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  font-family: Palanquin;
  border-width: 1px;
  border-color: black;
  padding: 13px 45px;
}

.line-one {
  display: flex;
  justify-content: center;
  gap: 1%;
  margin-bottom: 2%;
}

.line-two {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.cart-one {
  background-color: rgba(255, 255, 255, 1);
  max-width: 15%;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 20px;
}

.cart-img {
  max-width: 100%;
  justify-content: center;
}

.apple {
  max-width: 90%;
}

.cart-1 {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.cart-text {
  margin-left: 8%;
  max-width: 30%;
  line-height: 30px;
  font-family: Open sans;
  font-size: 20px;
}

.apple-para {
  font-weight: 500;
}

.dollar {
  font-weight: bolder; 
}

.cart-imgs {
  margin-left: 50%;
  max-width: 80%;
  cursor: pointer;
}

.last-icons {
  display: flex;
  align-items: center;
  margin-left: 6%;
  margin-top: 2%;
}

.stars {
  max-width: 100%;
}

.star-icon {
  max-width: 60%;
}
