*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 2000px;
}

.icon {
  width: 50px;
  margin-top: 15px;
  cursor: pointer;
}
.list {
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  position: fixed;
  width: 80%;
  z-index: 10;
  background-color: whitesmoke;
}


@media (min-width: 1280px) {
  nav {
      margin-left: 8%; 
      margin-right: 8%;
  }
}

ul {
  display: flex;
  margin-left: 10%;
  margin-right: 8%;
  align-items: center;
}

li {
  margin-right: 30px;
}

.hero-container {
  background: linear-gradient(180deg, #FCFCF7 6.5%, #1F5E7C 100%);
  height: 520px;
  margin-top: 120px;

}

.sub-container {
  display: flex;
  align-items: center;
}

.container {
  margin-top: 80px;
}

.hero-section-heading{
  font-size: 80px;
  margin-left: 130px;
  font-family: Palanquin;
  font-weight: bolder;
  line-height:75px;
  z-index: 2;
}
@media (max-width: 720px) {
  .hero-section-heading {
      margin-left: 5%;
  }
}

.grocessary {
  color: rgba(31,94,124,255);
  font-weight: bolder;
}

.img-container {
  width: 380px;
  margin-right: 40px;
  bottom: 10px;
}

.hero-img {
  max-width: 400px;
  position: relative;
  bottom: 30;

}

.description {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 32px;
  margin-left: 135px;
  color: rgba(0, 0, 0, 1);
  margin-top: 25px;
}

@media (max-width: 720px) {
  .description {
      margin-left: 5%;
  }
}

.hero-button {
  background-color:black;
  color: white;
  font-family: Palanquin;
  border: 1px;
  font-weight: bold;
  margin-left: 135px;
  margin-top: 25px;
  padding: 15px 25px;
}

.icons-container {
  margin-top: 50px;
}

.features-container {
  display: flex;
  justify-content: center;
}

.icon-1-container {
  display: flex;
  margin-right: 50px;
}

.headphone-icon {
  width: 20px;
  margin-left: 20px;
}

.descrip {
  font-size: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.Descrip {
  font-weight: normal;
  color: gray;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.banner-container {
  background-color:rgba(31, 94, 124, 0.22);
  display: flex;
  padding: 20px;
  max-width: 68%;
}

.apple-img{
  max-width: 100%;
  height: auto;
}

.apple-img-container {
  flex: 1;
  text-align: center;
  max-width: 500px;
  height: auto;
}

.text-container {
  justify-content: center;
  align-items: center;
}

.summer {
  font-family: Open Sans;
}

.sale {
  font-size: 25px;
  font-family: Palanquin;
  color: #1F5E7C;
  font-weight: bolder;
  text-align: center;
  margin-top: 18px;
}

.fresh {
  font-family: Palanquin;
  font-weight: bolder;
  font-size: 35px;
}

.hundred {
  font-family: Palanquin;
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bolder;
}


.button-shop {
  background-color: rgba(255, 255, 255, 1);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Palanquin;
  font-weight: bolder;
  font-size: 18px;
  border-color: black;
  border-width: 1px;
}